{% extends "base.html" %}

{% block title %}
    <title>Show</title>
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <h3>Результат</h3>
        <div class="alert alert-warning alert-dismissible fade show gx-10" role="alert">
            Вот ваш введённый текст: <br> <strong>{{ user_input.last }}</strong>
        </div>
        <div>
            <a href="{% url "input_information" %}" class="btn btn-primary"> Назад</a>
        </div>
    </div>
{% endblock %}

