{% extends "base.html" %}

{% block title %}
    <title>Show</title>
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <h3>Результат</h3>
        <div class="alert alert-warning alert-dismissible fade show gx-10" role="alert">
            <h3>Вот ваш введённый текст:</h3>
            {% if user_input %}
                <p><strong>{{ user_input.last }}</strong></p>

                <h4>Всё что вы ранее ввели:</h4>
                {% for member in user_input %}
                    <li>
                        <a href="{% url 'remove_member' member.id %}" class="btn btn-danger btn-sm">X</a>
                        <em>{{ member.save_text }}</em>
                    </li><br>
                {% endfor %}
            {% else %}
                <em>Нет данных для отображения</em>
            {% endif %}
        </div>
        <div>
            <a href="{% url "input_information" %}" class="btn btn-primary"> Назад</a>
        </div>
    </div>
{% endblock %}

