{% extends "messenger_app/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    {% if system_messages %}
        <ul class="messages">
            {% for message in system_messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if not give_access_to_chat %}
        <div class="row justify-content-center align-items-center">
            <p><b>{{ user.username }}</b>, У вас нет прав для просмотра контента!</p>
        </div>
    {% else %}
        <div class="container mt-5">
            <div class="container mt-5">
                <p class="mb-3">Добро пожаловать <b>{{ user.username|title }}</b></p>
            </div>
            <!-- Таблица с сообщениями -->
            <div class="card mb-3">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Сообщение</th>
                        <th scope="col">Имя пользователя</th>
                        <th scope="col">Дата отправки</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messages %}
                        <tr>
                            <td>
                                {% if message.can_delete_by_user %}
                                    <form action="{% url 'remove_text' message.id %}" method="post"
                                          style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-secondary text-white-50 btn-sm">X</button>
                                        <a href="{% url 'edit_text' message.id %}"
                                           class="btn btn-secondary text-white-50 btn-sm">Редактировать</a>
                                    </form>
                                {% endif %}
                                {{ message.message }}
                            </td>
                            <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    {{ message.author.username }}
                                    <a class="btn btn-secondary text-white-50 btn-sm"
                                       id="status-{{ message.author.username }}"
                                       data-username="{{ message.author.username }}">
                                        {% if message.author.status.is_online %}
                                            Online
                                        {% else %}
                                            Offline
                                        {% endif %}
                                    </a>
                                </div>
                            </td>
                            <td>{{ message.date_sent|date:"d m Y H:i" }},<br> {{ message.date_sent|timesince }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Форма для отправки сообщения -->
            <div class=" card">
                <div class="card-header"><span class="message_text">Отправить сообщение</span></div>
                <form method="post" action="{% url 'save_text' %}" class="card-body">
                    {% csrf_token %}
                    <label for="message_text" class="form-label">
                        <span class="message_text">Введите сообщение:</span></label>
                    <input type="text" class="form-control" id="message_text" name="message_text" required>
                    <br>
                    <button type="submit" class="btn btn-secondary text-white-50">Отправить</button>
                    {% if error %}
                        <div class="alert alert-danger mt-3">{{ error }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
